<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RealtimeTrendCommercial</title>
</head>

<body>
    <style>
        .centeringContainer {
            text-align: center;
        }

        .centered {
            display: table;
            margin-left: auto;
            margin-top: 10em;
            margin-bottom: 2em;
            margin-right: auto;
            display: inline-block;
        }
    </style>

    <div class="centeringContainer">
        <span class="centered">
            <span class="title" style="display:block;font-size:4em; color: green;">
                RealtimeTrendCommercial</br>서비스</span>
        </span>
    </div>
    <div>
        <style>
            div {
                text-align: right;
                margin-right: 2em;
            }
        </style>
        <div>
            <span class="title" style="display:block;font-size:1.5em;margin-bottom: 1em">
                2022년도 캡스톤디자인1 - RTC팀</span>
        </div>
        <div class="names"> 소프트웨어융합대학 컴퓨터공학과 2019102241 허인경 </div>
        <div class="names"> 소프트웨어융합대학 컴퓨터공학과 2019110634 이창렬 </div>
    </div>
</body>

<body>
    <div style="text-align: center;margin-top: 4em;">
        <a href="/code">
            <input type="button" style="text-align: center;font-size:2em;" value="시작하기">
        </a>
    </div>
</body>

<body>
    <div style="text-align: center;margin-top: 4em;">
        <input type="button" style="text-align: center;font-size:2em;" value="DATA REFRESH 하기"
            onclick="alert('kafka에게 요청이 전달되었습니다!')">

    </div>
</body>

</html>